
version: '3.8'
services:
  gateway:
    build: gateway-service
    ports: ["8080:8080"]

  chat:
    build: chat-service
    ports: ["8081:8081"]

  websocket:
    build: websocket-service
    ports: ["8082:8082"]

  rabbitmq:
    image: rabbitmq:3.11-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: securecollab
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  frontend:
    image: nginx:alpine
    volumes:
      - ./frontend:/usr/share/nginx/html
    ports: ["3000:80"]

volumes:
  db-data:
