
server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: chat-service
          uri: http://chat:8081
          predicates:
            - Path=/api/chat/**
          filters:
            - StripPrefix=1
        - id: websocket-service
          uri: http://websocket:8082
          predicates:
            - Path=/ws/**
          filters:
            - StripPrefix=1

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://auth-server/.well-known/jwks.json

logging:
  level:
    com.agarg.securecollab: DEBUG
